/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 500ms ease;
  background-color: #e74c3c;
  background-image: linear-gradient(to bottom right, #8c9997, #73a857);
}

.wrongAnswer {
  color: red;
}
.questions {
  justify-self: center;
}

.trivia-container {
  background-color: rgba(240, 239, 238, 0.822);
  border-radius: 50px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 300px auto;
  width: 35%;
  padding: 15px;
}
.answersContainer {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.answers {
  flex-grow: 1;
  width: 50%;
}
